.table-table-striped {
    width: 100%;
    border-collapse: collapse;
}

.table-table-striped thead tr {
    background-color: #f5f5f5;
    color: #000000;
    text-align: left;
    position: relative;
    
}

.table-table-striped thead th {
    padding: 10px;
    
}

.table-table-striped tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    position: relative;

}

.table-table-striped tbody td {
    padding: 10px;
    
}

h2 {
    margin-right: 10px;
}

.button-new {
    background-color: #ffd900;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1pc;
    position:relative;
    top: -50px;
    left: 200%
}



#container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 16px;
    position: relative;
}

  .delete-button {
    background-color: #df4944;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5%;
  }
  
  .delete-button:hover {
    background-color: #a30f0f;
  }
  
  .delete-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(243, 30, 15, 0.5);
  }

  .search-bar {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
  .message {
    color: rgb(36, 199, 104);
    font-weight: bold;
    margin-top: 10px;
  }