<body>
    <div id="header">
        <img src="https://acortar.link/Q4v7Us" alt="logo">
    </div>
    
    <div id="container">
        <div id="body_left">
            <nav class="menu-vertical">
                <ul class="menu-ul">
                    <li class="menu-il">
                        <a routerLink="clients" >Clientes</a>
                    </li>
                    <li class="menu-il">
                        <a routerLink="accounts" >Cuentas</a>
                    </li>
                    <li class="menu-il">
                        <a routerLink="transactions" >Movimientos</a>
                    </li>
                    
                </ul>
            </nav>
           
        </div>
        <div id="body_right">
            <router-outlet></router-outlet>
        </div>
    </div>
</body>


