<div id="container">
    <div>
        <h2>Cuentas</h2>
    <button routerLink="/save-account" class="button-new">Nuevo</button>
    </div>
    <input type="text" class="search-bar" placeholder="Buscar..." >
    <router-outlet></router-outlet>
    <table class="table-table-striped">
        <thead class="table-dark">
            <tr>
                <th>Numero de cuenta</th>
                <th>Tipo</th>
                <th>Saldo</th>
                <th>Estado</th>
                <th>Cliente</th>
            
            </tr>
        </thead>
        <tbody >
            <tr *ngFor= "let account of accounts">
                <td>{{account.number}}</td>
                <td>{{account.type}}</td>
                <td>{{account.balance}}</td>
                <td>{{account.status}}</td>
                <td>{{account.client.name}}</td>
                <td>
                    <button (click)= "updateAccount(account.idAccount)" class="edit-button">Editar</button>
                    <button (click)= "deleteAccount(account.idAccount)" class="delete-button">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
    <p class="message" *ngIf="message">{{ message }}</p>
    
</div>

